/****** General 
* {
  box-shadow: 3px 3px 3px red;***********
}*/
body {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 1.37em;
  font-weight: bold;
  margin-bottom: 10px;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  font-size: 1.37em;
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  font-size: 1em;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flexGap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
.align-items-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.petitMarginTop {
  margin-top: 7px;
}
.margin-b {
  margin-bottom: 35px;
}
.marginNegatifTop {
  margin-top: -10px;
}
.displayBlock {
  display: block;
}
.bold {
  font-size: 1em;
  font-weight: bold;
}
/***** Header *****/

.main_nav a:hover {
  color: #0065fc;
  border-top: solid 3px #0065fc;
}
.main_nav {
  width: 20%;
  display: flex;
  padding: 0px;
  gap: 69px;
  justify-content: flex-end;
}
header img {
  width: 61px;
  height: 19px;
  margin-top: 15px;
}
header a {
  padding-top: 1em;
}
header {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

/**** Bouton de recherche *****/
.research {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.research h1 {
  margin: 0;
  font-weight: bolder;
  font-size: 1.4em;
}
.research p {
  padding: 10px 0;
}
.research form {
  display: flex;
  padding: 5px 0;
}
.map {
  padding: 15px 20px;
  border-radius: 15px 0 0 15px;
  border: none;
  background-color: #f2f2f2;
}
.map .fa-solid {
  font-size: 1.1em;
  color: #000;
}
.city {
  width: 18%;
  padding: 13px;
  font-weight: bold;
  font-size: 1.1em;
  border: 1px solid #f2f2f2;
}
.search {
  background-color: #0065fc;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 0 15px 15px 0;
  border: none;
  color: #fff;
  font-size: 1.1em;
}
.search .fa-solid {
  color: #fff;
  font-size: 1.1em;
  display: none;
}
/***FILTRES ***/
.filters {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 30px;
}
.filters h2 {
  font-weight: bold;
  font-size: 1.1em;
  padding-right: 20px;
}
.filters {
  display: flex;
  flex-wrap: wrap;
}
.filters a {
  margin-right: 20px;
  border: 2px solid lightgrey;
  padding: 9px 20px 9px 13px;
  border-radius: 30px;
  color: #000;
}
.filters i {
  padding: 5px;
  font-size: 1.1em;
}
.filters span {
  font-size: 1.1em;
  font-weight: 700;
}
.filters a:hover {
  background-color: rgba(222, 235, 255, 1);
  color: #0065fc;
}

/***INFO ***/
.info_filters {
  display: flex;
}
.fa-info {
  border: solid 1px rgba(242, 242, 242, 1);
  border-radius: 50px;
  width: 4px;
  height: 10px;
  padding: 4px 8px;
  margin-right: 5px;
}
/****** Hebergements***********/
.titreHebergements {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.37em;
  font-weight: bold;
  position: relative;
  bottom: 30px;
  left: 10px;
}
.card-hebergements {
  width: 30%;
  height: 200px;
  background-color: white;
  padding: 0.5%;
  border-radius: 20px;
  position: relative;
  bottom: 25px;
}

.images-hebergements {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}
.card-content-hebergements {
  padding-left: 10px;
}
.hebergements {
  width: 65%;
}
.SeeMore {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 30px;
  position: relative;
  left: 10px;
}
.hebergementHaut {
  display: block;
}
.hebergementHaut1 {
  display: flex;
  flex-direction: row;
}
.hebergementBas {
  display: block;
}
.hebergementBas1 {
  display: flex;
  flex-direction: row;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/****** Activite***********/

.activites {
  width: 100%;
  flex-direction: row;
}
.card-activites {
  margin-right: 30px;
  background-color: white;
  border-radius: 20px;
  width: 22%;
  height: 439px;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.images-activites {
  background-position: center;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 380px;
}
.activitesTitre {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.activitesTitle {
  margin: 15px 0 0 20px;
  font-size: 1em;
  font-weight: bold;
}
.activites {
  padding: 0px 30px 0px 30px;
}
/*Footer*/
footer {
  display: flex;
  margin-top: 60px;
  background-color: rgba(242, 242, 242, 1);
}
footer ul {
  width: 33%;
  height: 143px;
  margin-top: 20px;
  margin-left: 20px;
}
footer li {
  margin-bottom: 17px;
}
